<div class="jumbotron text-center">
    <h1 class="display-3">CRUD APP</h1>
    <p class="lead">This is a node crud app to add ideas </p>
    <a href="/ideas/add" class="btn btn-lg btn-dark">Add Idea   </a>
</div>