{{#each ideas}}
    <div class="card card-body mt-3 mb-3">
        <h3>{{title}}</h3>
        <p>{{details}}</p>
        <a class="btn btn-dark btn-block " href="/ideas/edit/{{id}}">Edit</a>
    </div>
{{else}}
    <p>No Ideas found</p>
{{/each}}